.about {
  margin-top: -50px;
  @media @tablet-widths {
    margin-top: 50px;
  }
  .container-fluid {
    padding: 0 130px;
    @media @tablet-widths {
      padding: 0 30px;
    }
    @media @mobil-widths {
    }
  }

  &__text {
    .text-light(18px);
    color: @color-text;
    text-align: center;
    padding: 0 45px 30px;
    @media @tablet-widths {
      padding: 0 20px 30px;
    }
    @media @mobil-widths {
      font-size: 16px;
    }
  }

  .img-about {
    display: block;
    margin-right: 50px;
    margin-left: auto;
    @media @tablet-widths {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 5;
      min-width: 370px;
      max-width: 450px;
      margin: 0;
    }
    @media @mobil-widths {
      position: static;
      min-width: 220px;
      width: 100%;
      max-width: 370px;
      margin: 0 auto
    }
  }

  h2 {
    margin-top: 30px;
  }

}