.text-banner {
    display: block;
    width: auto;
    max-width: 420px;
    height: auto;
    color: #fff;  
    .text-light(18px);
    @media @tablet-widths {
        font-size: 18px;
    }

    @media @mobil-widths {
        height: auto; 
        font-size: 16px;
        padding: 5px 10px;
        max-width: 350px;
    }    
}
.first-screen {
    display: block;
    background: url(../img/bg-fs-1.png) no-repeat top center;
    background-size: auto;    
    padding-top: 165px;
    height: 900px;
    @media @tablet-widths {       
        height: 700px;
    }
    @media @mobil-widths {
        background-image: url(../img/bg-fs.png);
        padding-top: 130px;
        height: 600px;

    }

    &__header {
        position: relative;
        z-index: 110;
        width: 100%;
        max-width: 600px;
        padding: 25px 0;
        color: #fff;
        text-align: left;
        h1 {
            color: #fff;
        }
        span {
            display: block;
            color: inherit;
            line-height: 1.2;
            text-transform: uppercase;
        }
        span:nth-child(1) {
            .text-bold(36px);
            letter-spacing: 1.5px;
            @media @tablet-widths {font-size: 30px;}
            @media @mobil-widths {font-size: 26px;text-align: center;}
        }
        span:nth-child(2) {
            .text-title(100px);
            line-height: 1;
            @media @tablet-widths {font-size: 65px;} 
            @media @mobil-widths {font-size: 45px;text-align: center;}      
        }
        span:nth-child(3) {
            .text-bold(36px);
            line-height: 1.2;
            @media @tablet-widths { font-size: 30px;}
            @media @mobil-widths {font-size: 26px;text-align: center;}
        }      
        
        .center {	
            padding-top: 50px;
            text-align: center;
            @media @tablet-widths { padding-top: 40px; }
            @media @mobil-widths {padding-top: 30px;}
            .text-btn-title {
                color: #fff;
                .text-light(14px);
            }
        } 
        .button {
            margin-top: 10px;
        } 
        @media @tablet-widths {
            width: 55%;
        }
    
        @media @mobil-widths {
            text-align: center;
            height: auto;
            padding: 20px 0px 40px;
            width: 100%;            
            text-align: left;   
            .text-btn-title {text-align: center; }
        }      
    }
}